body {
  width: 100%;

  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tableau-suivi {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-height: 300px;
  margin: 10px;
  padding: 10px;
  background-color: bisque;
  border-radius: 20px;
}

.zone-information {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.zone-information p {
  flex: 1;
  margin: 10px;
  padding: 10px;
  background-color: rgb(208, 218, 218);
  border: 1px solid;
  border-radius: 10px;
}
.zone-saisie {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.entrer {
  flex: 1;
  margin: 5px;
  padding: 10px;
  font-weight: 700;
  border-radius: 10px;
}

button {
  border-radius: 10px;
  padding: 10px;
  font-weight: 700;
  margin: 5px;
}
#btn-ajouter {
  background-color: darkgreen;
}
