body {
  width: 100%;

  background-color: rgb(237, 235, 233);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tableau-suivi {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-height: 300px;
  max-height: 500px;
  margin: 10px;
  padding: 10px;
  background: rgb(193, 190, 187);
  border-radius: 20px;
}

.zone-information {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.zone-information p {
  flex: 1;
  margin: 10px;
  padding: 10px;
  background: rgb(230, 229, 223);
  border: 1px solid;
  border-radius: 10px;
}
.zone-saisie {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.saisie {
  display: flex;
  gap: 8px;
}
.entrer {
  flex: 1;
  margin: 5px;
  padding: 10px;
  font-weight: 700;
  border-radius: 10px;
}

button {
  border-radius: 10px;
  padding: 10px;
  font-weight: 700;
  margin: 5px;
}
#btn-ajouter {
  background-color: darkgreen;
}

.liste {
  margin-top: 10px;

  overflow: auto;
}
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid rgba(16, 1, 1, 0.05);
  margin-bottom: 8px;
  background: linear-gradient(180deg, rgba(230, 229, 223, 0.1), transparent);
}

.left {
  display: flex;
  gap: 10px;
  align-items: center;
}
.dot {
  width: 42px;
  height: 42px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}
.cat-depences {
  background: linear-gradient(180deg, #4b1a1e, #8b2c2f);
}
.cat-revenus {
  background: linear-gradient(180deg, #3b0b21, #7a1436);
}
.cat-revenus {
  background: linear-gradient(180deg, #25322a, #416f4d);
}
.meta small {
  color: var(--muted);
  display: block;
}
